extends layout
  
block content
  if !error
    main
      div.user-data
        h1.visible Welcome to #{user_data[0].User_Name}'s Griffinry!
        if authenticated
          a(href='/users/#{user_data[0].id}/edit') 
            p Edit
          a(href='/users/#{user_data[0].id}/delete')
            p Delete
      p Age: #{moment(user_data[0].DOB).fromNow(true)} old
      p #{user_data[0].About_Me}
      if user_data[0].Name
        h2 Pets
        each pet in user_data
          div
            img(class='profile-pet' src='/images/#{pet.Pet_Id.toLowerCase()}_#{pet.Color.toLowerCase()}_tn.png')
            p Pet name: #{pet.Name}
            p Pet type: #{pet.Pet_Id}
  else
    h1.visible=error
