extends layout

block content
  main(class='col')
    div.user-data.row
      h1 #{user_data[0].User_Name}
      a(class='button', href='/user/#{user_data[0].id}/edit'): img(class='edit_button' src='/images/edit.jpg')
      a(class='button', href='/user/#{user_data[0].id}/delete'): img(class='delete_button' src='/images/delete.jpg')
    p(class='row') Age: #{moment(user_data[0].DOB).fromNow(true)} old
    h2(class='row') My Pets
    ul(class='row')
    each pet in user_data
      li.col-3 #{pet.Color} #{pet.Name} #{pet.Type}
      img(src='/images/1_Yellow.png')
